.filaCuadros {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 5%; 
 }
 
  .cuadro {
    width: 250px;
    height: 250px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.cuadro:hover {
    width: 250px;
    height: 250px;
    background-color: rgb(236, 230, 221);
}

.imagenproductos {
    width: 50%;
    height: 50%;
}

.nameproductos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    font-weight: bold;
}

.botonagregar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    width: 80px;
    height: 20px;
}

.botondecremento {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    width: 20px;
    height: 20px;
    float: left;
}

.botonincremento {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    width: 20px;
    height: 20px;
    float: right;
}

.contadorproductos {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    color: black;
}